# Copy to .env and fill in. NEVER commit the real .env.

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=
DB_PORT=

DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

OPENID_CLIENT_ID=
OPENID_CLIENT_SECRET=

GF_ADMIN_USER=
GF_ADMIN_PASSWORD=

TZ: "Europe/Berlin"


