@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --bg-color: #f5f6fa;
  --bg-card: #ffffff;
  --shadow-color: #a9a9a9;
  --text: #000;
  --sub-text: #959698;
  --income-color: #5b9778;
  --bg-income: #d8f8e8;
  --expense-color: #ff7070;
  --bg-expense: #fae3e3;
  --accent-deep: #494564;
  --accent-middle: #5b5477;
  --accent-light: #edecfd;

  --sans: Inter, system-ui, Roboto, sans-serif;
  /* --heading: Inter, system-ui, Roboto, sans-serif; */
  --mono: "DM Mono", ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--text);
  background: var(--bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

/* .helloPage {
  height: 100dvh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.decorContainer {
  background-color: var(--accent-deep);
} */
